<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Lanchonete</title>
    
   <!--BS-->
   
    
   <link rel="stylesheet" href="bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
 
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <!--BS-->
   
   <!--SLICK-->
 
 <link rel="stylesheet" href="slick.css"/>
   <!--SLICK-->

 
<!--FA-->
 <link rel="stylesheet" href="all.css" />
 <link rel="stylesheet" href="all.min.css" />
 
 <link rel="stylesheet" href="homeSchool.css">
 <script src="https://kit.fontawesome.com/dbce8a62cb.js" crossorigin="anonymous"></script>
<!--FA-->

 
 <!--Fonts-->
 <link rel="stylesheet" type="text/css"
 href="./Fontes/HomeSchool/style.css"/>

 <link rel="stylesheet" type="text/css"
 href="./Fontes/gitaluevo-cufonfonts-webfont/style.css">

 
 <link rel="stylesheet" type="text/css"
 href="./Fontes/miso-cufonfonts-webfont/style.css">
 <!--Fonts-->
    <style>

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    font-family:'Lobster', sans-serif
}
.displaynone{
  display:none;
}
.displayinblock{
  display:inline-block;
}
</style>
</head>

<body>
  <div id="cardapio" class="container-fluid   ">
    <div class="text-center">
      <h1 style="color:rgb(50, 27, 56);;">Lanchonete</h1>
      <h4 style="color:rgb(108, 132, 153);">a melhor lanchonete do mercado</h4>
    </div>
    <h3 class="text-center" style="font-family:'Miso'; color:rgb(133, 9, 9);">Escolha seu lanche</h3>
    <div class="row ">
      <div v-for="(lanche,index) in lanches" :key="lanches.idLanche" class="col-12 col-sm-6 col-md-3 text-center">
        <div>
          <p style="font-family: 'Home School Regular'; color:rgb(252, 99, 99);">{{lanche.nomeDoLanche}} <button>Detalhes</button></p>
          <img v-bind:src="lanche.imagensDosLanches" width="200" height="160">
          <div class="m-2 p-1 ">
            
            <button class="btn btn-primary" @click="diminui(index)">-</button>
            
            <button class="btn btn-primary" @click="soma(index)">+</button>
            <input v-model="lanche.qtd" class="text-center rounded-3 p-1 " style="border:0.01rem solid lightgrey" size="2" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="jquery-3.5.1.min.js"></script>
    <script src="jquery-3.5.1.js"></script>
    <script src="bootstrap.min.js" crossorigin="anonymous"></script>
    
    <script src="slick.min.js"></script>
    <script src="slick.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  

    <script>
var cardapio = new Vue({
    el:"#cardapio",
   
  
     data:{
     
        lanches:[
    
    
            { idLanche:"0001",
            nomeDoLanche:"Hamburguer",
            imagensDosLanches:"./imagens/hamburguer.jpg",
            qtd:0,
           
            
        },
        { idLanche:"0002",
            nomeDoLanche:"Milk Shake",
            imagensDosLanches:"./imagens/milkShake.jpg",
            qtd:0,
        },
        { idLanche:"0003",
            nomeDoLanche:"Pizza",
            imagensDosLanches:"./imagens/pizza.jpg",
            qtd:0,
            
        },
        { idLanche:"0004",
            nomeDoLanche:"Salgadinhos",
            imagensDosLanches:"./imagens/salgadinhos.jpg",
            qtd:0,
        },
    
        ]
        
    },
    
  
  methods:{
    soma(index){
      this.lanches[index].qtd += 1
      if( 
        this.lanches[index].qtd > 10
    ){ this.lanches[index].qtd = 10; alert('Máximo de dez unidades por pedido');
   }

    
    },
   diminui(index){
      this.lanches[index].qtd -= 1
      if( 
      this.lanches[index].qtd < 0
    ){ this.lanches[index].qtd = 0}
    },
  }
  });

    </script>