@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');



*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size:10px;
    }
body{
   background-color:white;
   color:black;
}


h1{font-size:600%; font-weight:bold;}
h2{font-size:500%; font-weight:bold;}
h3{font-size:400%; font-weight:bold;}
h4{font-size:300%; font-weight:bold;}
h5{font-size:200%; font-weight:bold;}
h6{font-size:100%; font-weight:bold;}
a{text-decoration:none; font-size:3vw;}

p,label,input[type=text], input[type=email], textarea, option, select,button, button[type=submit],{font-size:260%}


ul{
    list-style-type: none;
}


/*