* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}
.meuPrevArrow {
  top: 45%;
  left: 0px;
  z-index: 1;
  width: 40px;
  font-size: 40px;
  opacity: 0.4;
}

.meuNextArrow {
  top: 45%;
  right: 0px;
  z-index: 1;
  width: 40px;
  font-size: 40px;
  opacity: 0.4;
}

.meuNextArrow:hover,
.meuPrevArrow:hover {
  opacity: 1;
}

.carro_um img {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 730px) {
  .carro_um img {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .carro_um img {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .carro_um img {
    width: 100%;
    height: 200px;
  }
}
