
  a{
      text-decoration:none !important;
      text-align: center;
      color:white !important;
      
  }   
  ::-webkit-scrollbar {
  width: 2px;
}


  /*Ainda dá tempo*/
      .ainda_tempo{
            display:grid; 
            grid-template-columns: 30% auto; 
           
       background-color:rgb(25, 93, 156);
            align-items: center;
           
            text-align: center;
        }

        .ainda_tempo_palavras{
         margin: 0;
         padding: 0;
            line-height:65px;
            background-color:rgb(25, 93, 156);
        }

        .imagem_topo{
            height: fit-content;
            transition:.5s;
        }
@media screen and (max-width:1200px){
    .ainda_tempo{
            display:grid; 
            grid-template-columns: auto ; 
           
         
            align-items: center;
            justify-content: center;
            width:100%;
        }
        .ainda_tempo_palavras{margin:0; }
        .ainda_tempo_palavras p{
          display:inline-block;
          
    
        }
        .imagem_topo{
            width:100%; height:auto; 
          
        }
}


@media screen and (max-width:900px){
    .imagem_topo{
        width:100%; height:300px;
        }
} 


@media screen and (max-width:750px){
    .imagem_topo{
        width:100%; height:300px;
        }
} 

@media screen and (max-width:600px){
    .imagem_topo{
        width:100%;  height:300px;
        }
} 

@media screen and (max-width:400px){
    .imagem_topo{
        width:100%;   height:300px;
        }
}
  
/*Ainda dá tempo*/

  

/*compromisso */
.compromisso{
    display:grid; 
    grid-template-columns: auto auto; 
    align-items:end; 
   
    justify-content:start;
}

.compromisso_texto{
    margin:0 auto; width:80%;padding:1%;
}
@media screen and (max-width:1200px){
    .compromisso{
        display:block;
        text-align: center;
    }
}


/*compromisso */


/*dados*/

.dados h1{
    font-size:70px;
    color:white;
}

.dados p{
    color:
rgb(25, 93, 156); 
font-size:40px;
}

@media screen and (max-width:1200px){
    .dados h1{
        font-size:60px;
        
    }

    .dados p{
      font-size:30px;
   
    }
}
@media screen and (max-width:900px){
    .dados{
        display:block;
        text-align: center;
    }

    .dados h1{
        font-size:50;
        
    }

    .dados p{
      font-size:20;
   
    }

    .dados img{
        width:200px; height:200px;
    }
}


@media screen and (max-width:500px){
    .dados{
        display:block;
        text-align: center;
    }

    .dados h1{
        font-size:40px;
        
    }

    .dados p{
      font-size:20px;
   
    }

    .dados img{
        width:190px; height:190px;
    }
}
/*dados*/


/*respiradores*/

.respiradores_sombra{
    background-image:url(Arquivo_Comprimido/respiradores.jpeg); 
    background-repeat:no-repeat; 
    background-size:100%;
    padding:5%; 
    box-shadow: inset 0 0 0 1000px rgba(62, 88, 236, 0.685);
}
.respiradores{
    display: grid; 
    grid-template-columns: 65% 35%; 
    align-items:center; 
    justify-content: center;
}
.some_video{
    width:720px; height:515px;
}

.lista_respira{
     text-align:left; 
    display: grid; 
    grid-template-columns:auto; 
    align-items:center; justify-content: center;margin:1%;
}

@media screen and (max-width:1280px){
    .respiradores{
        display:block;
        text-align: center;
    }
    .some_video{
        width:420px;
        height:315px;
    }
}

@media screen and (max-width:600px){
    .some_video{
        width:320px;
        height:215px;
    }
    .lista_respira{font-size:20px; line-height:40px;}
}
/*respiradores*/


/*conheça VIC*/


/*diferen*/
.diferen{
    display:grid; 
    grid-template-columns: auto auto auto; 
    align-items:baseline; 
    justify-content:center;  
    text-align:center;
   
}

@media screen and (max-width:600px){
    .diferen{display: grid; grid-template-columns: auto auto;  margin:10% 0;}
}


/*diferen*/

/*monitora*/
.monitora{
    display:grid; 
    grid-template-columns:auto; 
    align-items:center; 
    justify-content:center;
    text-align:center;
    box-shadow: inset 0 0 0 1000px rgba(169, 170, 175, 0.349);
}

.monitora h1{
    color: rgb(69, 139, 204);
}


.monitora_niveis{
    display:grid; 
    grid-template-columns:auto auto auto; 
    align-items:baseline; 
    justify-content:center;
}
@media screen and (max-width:600px){
   .monitora_niveis{display:grid;
    grid-template-columns:auto;
    align-items:center; 
    justify-content:center;
     text-align:center;}
}


/*monitora*/

/*formu*/
.formu{
    display:grid; 
    grid-template-columns: auto; 
    align-items: center; 
    justify-content: center;
}

.formu input[type="text"], .formu input[type="email"], .formu textarea{

    width:100%;
    padding:2%;
    font-size:3vw;
    outline:lightgrey;
    margin:1%;
}

/*formu*/