*{
    font-family:'Josefin Sans', sans-serif;
}
  a{
      text-decoration:none !important;
      text-align: center;
      color:white !important;
      
  }   
  ::-webkit-scrollbar {
  width: 2px;
}


  /*Ainda dá tempo*/
        .ainda_tempo{
            display:grid; 
            grid-template-columns: 30% auto; 
            background-color:rgb(69, 139, 204); 
            padding:1%;
            align-items: center;
            justify-content:center;
            text-align: center;
        }

        .ainda_tempo_palavras{
            padding:1%;
            line-height:65px;
           
        }

        .imagem_topo{
            height: fit-content;
            transition:.5s;
        }
@media screen and (max-width:1200px){
    .ainda_tempo{
            display:grid; 
            grid-template-columns: auto ; 
            background-color:rgb(69, 139, 204); 
            padding:1%;
            align-items: center;
            justify-content: center;
        }
        .ainda_tempo_palavras{margin:0; }
        .ainda_tempo_palavras p{
          display:inline-block;border:1px solid green;
          
    
        }
        .imagem_topo{
            width:800px; height:auto; border: 3px solid green;
          
        }
}


@media screen and (max-width:900px){
    .imagem_topo{
            width: 700px; height:300px;
        }
} 


@media screen and (max-width:750px){
    .imagem_topo{
            width: 730px; height:300px;
        }
} 

@media screen and (max-width:600px){
    .imagem_topo{
            width: 580px; height:300px;
        }
} 

@media screen and (max-width:400px){
    .imagem_topo{
            width: 380px; height:300px;
        }
}
  
/*Ainda dá tempo*/

  

/*compromisso */
.compromisso{
    display:grid; 
    grid-template-columns: 10% auto; 
    align-items:space-between; 
    align-content: flex-end;
    justify-content:center;
}
@media screen and (max-width:1200px){
    .compromisso{
        display:block;
        text-align: center;
    }
}

/*compromisso */


/*dados*/
.dados{
    display:grid; 
    grid-template-columns:auto auto auto; 
    justify-content: space-evenly; 
    align-items:baseline; 
    grid-gap:15%;
    text-align:center
}

@media screen and (max-width:900px){
    .dados{
        display:block;
        text-align: center;
    }
}

/*dados*/


/*respiradores*/

.respiradores_sombra{
    background-image:url(Arquivo_Comprimido/respiradores.jpeg); 
    background-repeat:no-repeat; 
    background-size:100%;padding:5%; 
    box-shadow: inset 0 0 0 1000px rgba(14, 25, 85, 0.719);
}
.respiradores{
    display: grid; 
    grid-template-columns: auto auto; 
    align-items:center; 
    justify-content: space-around;
}
.some_video{
    width:420px; height:315px;
}

.lista_respira{
    font-size:3vw; line-height:70px;
}


@media screen and (max-width:900px){
    .respiradores{
        display:block;
        text-align: center;
    }
    
}

@media screen and (max-width:600px){
    .some_video{
        width:320px;
        height:215px;
    }
    .lista_respira{font-size:3vw; line-height:40px;}
}
/*respiradores*/


/*conheça VIC*/
.conheca_VIC{
    display: grid; 
    grid-template-columns: auto;
}

.conheca_VIC h1{
    color:rgb(69, 139, 204);
    text-align:center;
}

.conheca_VIC h3{

    color:rgb(50, 194, 134) ;
    text-align:center;
}

.lista_conheca_VIC{
    background-image:url(Arquivo_Comprimido/LP_v1-_06.png); 
    background-repeat:no-repeat; 
    background-position: right bottom;
     background-size:contain;
     margin: 2%;
     
    
}
@media screen and (max-width:1200px) {
    .ul_lista_VIC{
        width:700px; height:200px; overflow:scroll; margin:3% 1%;
    }

    .lista_conheca_VIC{
        box-shadow: inset 0 0 0 1000px rgba(14, 25, 85, 0.144);
    }
}


@media screen and (max-width:900px) {
    .ul_lista_VIC{
        width:350px; height:200px; overflow:scroll;
    }

    
}


@media screen and (max-width:600px) {
    .ul_lista_VIC{
        width:250px; height:200px; overflow:scroll;
    }

   
}
.lista_conheca_VIC h4, .lista_conheca_VIC h2{
    color:rgb(69, 139, 204);
    text-align:center;
}

.lista_conheca_VIC ul {
  list-style: none;
}

.lista_conheca_VIC ul li::before {
  content: "\2022";
  color: rgb(69, 139, 204);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.locacao_VIC{
    display:grid;
     grid-template-columns:auto; 
     align-items: center;
     justify-content: center;
}

.locacao_VIC a{
    background-color: rgb(69,139,204); 
    border-radius: 30px;
}


/*diferen*/
.diferen{
    display:grid; 
    grid-template-columns: auto auto auto; 
    align-items:baseline; 
    justify-content:center;  
    text-align:center;
   
}

@media screen and (max-width:600px){
    .diferen{display: grid; grid-template-columns: auto auto;  margin:10% 0;}
}


/*diferen*/

/*monitora*/
.monitora{
    display:grid; 
    grid-template-columns:auto; 
    align-items:center; 
    justify-content:center;
    text-align:center;
}

.monitora h1{
    color: rgb(69, 139, 204);
}


.monitora_niveis{
    display:grid; 
    grid-template-columns:auto auto auto; 
    align-items:baseline; 
    justify-content:center;
}
@media screen and (max-width:600px){
   .monitora_niveis{display:grid;
    grid-template-columns:auto;
    align-items:center; 
    justify-content:center;
     text-align:center;}
}


/*monitora*/

/*formu*/
.formu{
    display:grid; 
    grid-template-columns: auto; 
    align-items: center; 
    justify-content: center;
}

.formu input[type="text"], .formu input[type="email"], .formu textarea{

    width:100%;
    padding:2%;
    font-size:3vw;
    outline:lightgrey;
    margin:1%;
}

/*formu*/