<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Portfolio</title>
    
   <!--BS-->
   
    
   <link rel="stylesheet" href="./bootstrap.min.css">
 
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   <!--BS-->
   
   <!--SLICK-->
 
 <link rel="stylesheet" href="../lanchonete/slick.css"/>
    
   <!--SLICK-->

 
<!--FA-->
 <link rel="stylesheet" href="all.css" />
 <link rel="stylesheet" href="all.min.css" />
 
 <script src="https://kit.fontawesome.com/dbce8a62cb.js" crossorigin="anonymous"></script>
<!--FA-->

 
 <!--Fonts-->
 <link rel="stylesheet" type="text/css"
 href="./Fontes/gitaluevo-cufonfonts-webfont/style.css"/>

 <link rel="stylesheet" type="text/css"
 href="./Fontes/HomeSchool/style.css">

 
 <link rel="stylesheet" type="text/css"
 href="./Fontes/miso-cufonfonts-webfont/style.css">

 
 <link rel="stylesheet" type="text/css"
 href="./Fontes/vtks-realm-cufonfonts-webfont/style.css">

 
 <link rel="stylesheet" type="text/css"
 href="./Fontes/wanoquin-free-pu-cufonfonts-webfont/style.css">
 <!--Fonts-->
    <style>



    </style>
</head>

    <body >
      <div id='app'>

        <label for="nome">Nome</label><br/>
        <input id="nome" name="nome" v-model="nome"><br/>
        <label for="tel">Telefone</label><br/>
        <input id="tel" name="tel" v-model="tel"><br/>
        <p>Gostaria de receber novidades?</p>
        <input type="radio" value="Sim" id="novidades" name="novidades" v-model="novidades"> Sim <br/>
        <input type="radio" value="Não" id="novidades" name="novidades" v-model="novidades"> Não <br/>

        <p>Intreresses</p>
        <input type="checkbox" id="interesses" name="interesses" v-model="interesses">Futebol<br/>
        <input type="checkbox" id="interesses" name="interesses" v-model="interesses">Formula 1<br/>
        <input type="checkbox" id="interesses" name="interesses" v-model="interesses">Corrida<br/>

        <p>Como nos conheceu?</p>
        <select v-model="conheceu">
          <option value="">Escolha </option>
          <option value="google">Google </option>
          <option value="tv">Tv</option>
          <option value="revista">Revista</option>
        </select> <br/><br/>
      

        <button>Enviar</button>
        
        <hr>

        Nome: {{nome}} <br/>
        Tel: {{tel}} <br/>
        Novidades: {{novidades}} <br/>
        Interesses: {{interesses}} <br/>
        Como nos conheceu: {{conheceu}}
      </div>
 
</script>
    
    <script src="./jquery-3.5.1.js"></script>
    <script src="./jquery-3.5.1.min.js"></script>
    <script src="./bootstrap.min.js" crossorigin="anonymous"></script>
    
    <script src="./slick.min.js"></script>
    <script src="./slick.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
      
<script>
 var app = new Vue({
   el:"#app",
   data:{
    nome:'',
    tel:'',
    novidades:'',
    interesses:'',
    conheceu:''
   }
 });
  
</script>

      </body>
</html>