@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*, *::before, *::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}

#first__Section{
    position:relative;
    top:50px;
}



.first__heading{
    font-family: 'Comfortaa', cursive; 
    color:rgba(243, 199, 142, 0.897); 
    font-weight:600; 
    text-shadow:2px 2px 1px #76aa; 
    text-align: center;
}

.you__heading{
    color:rgb(4, 78, 35); 
    font-weight: 600;
}
.quiz__paragraph{
    font-family: 'Comfortaa', cursive;
}
.quiz__start{
    display:inline-block;
    
    border-bottom: 1px solid;
    transition:1s;
}
.quiz__start:hover{
    cursor:pointer;
   background-color: white;
   color:rgb(69, 41, 172);
 
}

.ticket {
    transform: rotate(45deg); 
    color:rgb(23, 112, 5)
}

.quiz__block {
    position:relative;  
    margin-top:50px;
    display:none;
}
.card{
    background-color:transparent;
    border: none;
    }
.card-body{
    background-color: rgba(0, 0, 0, 0.433); 
}
.alternatives {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:baseline
}

@media screen and (max-width:500px){
    .alternatives {
    margin-left:10px;
    display:block;

}
.alternatives label{
    width:100%;
}
}
.invi{
    display:none
}


.visi{
display:block
}